extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
        //  li.mb-2 
        //    a(href="cart.html", style="") Корзина
        //  li.mb-2 
        //    a(href="order.html", style="") Оформление заказа
        //  li.mb-2 
        //    a(href="order-track.html", style="") Оформление заказа (Заказ доставляется)
        //  li.mb-2 
        //    a(href="password.html", style="") Восстановление пароля
        //  li.mb-2
        //    a(href="account.html", style="") Личный кабинет
        //  li.mb-2 
        //    a(href="account-none.html", style="") Личный кабинет (Нет заказов)
        //  li.mb-2 
        //    a(href="contacts.html", style="") Наши пиццерии
        //  li.mb-2 
        //    a(href="loyalty.html", style="") Программа лояльности
        //  li.mb-2 
        //    a(href="about.html", style="") О нас
        //  li.mb-2 
        //    a(href="delivery.html", style="") Доставка и оплата
        //  li.mb-2 
        //    a(href="reviews.html", style="") Отзывы
        //h2.mb-4.mt-4.pb-10.border-bottom Модальные окна
        //ul.pl-0.mb-4.mt-4
        //  li.mb-2
            a(href="#modal-product" data-toggle="modal") Продукт детальная
        //  li.mb-2
        //    a(href="#modal-pass" data-toggle="modal") Забыли пароль?
        //  li.mb-2
        //    a(href="#modal-call" data-toggle="modal") Заказать звонок
        //
