footer.footer-wrap
  .footer__top
    .container
      .row
        .col-md-5
          .footer__top-left
            .footer__tel
              img(src='../img/telephone.svg' alt='телефон', title='' width="19px" height="19px").img_tel
              .footer__tel-block
                a(href="tel:+7 (978) 835-09-99").footer__tel-link +7 (978) 835-09-99
                a(href="tel:+7 (978) 835-09-99").footer__tel-link +7 (978) 835-09-99
            .footer__mail
              .title_footer e-mail:
              a(href="mailto:+120033@3dvision.su").footer__mail-block +120033@3dvision.su
        .col-md-7
          .footer__top-rigth
            .footer_adr
              img(src='../img/addres.svg' alt='адрес', title='' width="21px" height="29px").img_adr
              .title_footer 194044, Санкт-Петербург, пр. Большой Сампсониевский, дом 32, ДЦ 
                span.span-br "Сампсониевский", корпус 4, помещение 104
            .social__wrap
              .title_network Мы в :
              .social
                .social__item
                  a(href="javascript:void(0);").social__link.social__link_wk
                .social__item
                  a(href="javascript:void(0);").social__link.social__link_in
  .footer__bottom
    .container
      .footer__bottom-block
        .footer__bottom-left
          img(src='../img/Logo.svg' alt='Логотип', title='' width="204px" height="96px" ).img_footer-bottom
        .footer__bottom-center
          .title_footer-bottom ©2002-2020 Компания «NAME». Все права защищены. При использовании материалов гиперссылка обязательна
        .footer__bottom-right
          img(src='../img/logo-footer.svg' alt='Логотип', title='' width="96px" height="45px" )



  //.footer-wrap__top
  //  .container
  //    .row.footer-top
  //      .col-7
  //        ul.footer-menu
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Обратная связь
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Акции
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Каталог блюд
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Доставка
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link О нас
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Контакты
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Программа лояльности
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Отзывы
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Наши пиццерии
  //
  //      .col-5
  //        .footer-top__left
  //          +button-green('Оставить отзыв')
  //          .footer-top__contact
  //            a(href="tel:+7 (3532) 66-50-50").tel-contact +7 (3532) 66-50-50
  //            a(href="mailto:feedback@intempopizza.com").mail-contact feedback@intempopizza.com 
  //.footer-wrap__bottom
  //  .container
  //    .footer__bottom
  //      .footer__bottom-left
  //        .logo-text ООО "ОренФуд"
  //        ul.footer-menu
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Правовая информация
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Помощь
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Работа в InTempo
  //
  //      .footer__bottom__right
  //        .social
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_in
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_vk
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_fb
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_you
  //        .logo-footer 
  //        








