footer.footer-wrap
  //.footer-wrap__top
  //  .container
  //    .row.footer-top
  //      .col-7
  //        ul.footer-menu
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Обратная связь
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Акции
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Каталог блюд
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Доставка
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link О нас
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Контакты
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Программа лояльности
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Отзывы
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Наши пиццерии
  //
  //      .col-5
  //        .footer-top__left
  //          +button-green('Оставить отзыв')
  //          .footer-top__contact
  //            a(href="tel:+7 (3532) 66-50-50").tel-contact +7 (3532) 66-50-50
  //            a(href="mailto:feedback@intempopizza.com").mail-contact feedback@intempopizza.com 
  //.footer-wrap__bottom
  //  .container
  //    .footer__bottom
  //      .footer__bottom-left
  //        .logo-text ООО "ОренФуд"
  //        ul.footer-menu
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Правовая информация
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Помощь
  //          li.footer-item
  //            a(href="javascript:void(0);").footer-link Работа в InTempo
  //
  //      .footer__bottom__right
  //        .social
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_in
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_vk
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_fb
  //          .social-item
  //            a(href="javascript:void(0);").social-link.social-link_you
  //        .logo-footer 
  //        








