header.header-wrap
  .container
    .row
      .col-12
        .header
          .header-left
            .header-logo
              a(href="javascript:void(0);").header-logo-link
                img(src='../img/Logo.svg' alt='лого', title='').logo
            .header-menu
              ul.header-menu_list
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link О нас
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Услуги
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Потрфолио
          .header-rigth
            .header-text
              a(href="tel:+7 (70) 596-77-83").header-contacts_link +7 (70) 596-77-83
              a(href="tel:+7 (70) 596-77-83").header-contacts_link +7 (70) 596-77-83
            a(href="javascript:void(0);").btn.button-tr-red Оставить заявку  
    .row
       .col-md-5.offset-1
         .header-top
           .header-top-left
             .header-top-text
             .header-top-menu
             
             
             h1 Печать и прототипирование 
             
             
           .header-top_right
           
         
         
              
            

    



  //.container
  //  .header-top
  //    .header-top__left
  //      a(href="javascript:void(0);")
  //        img(src='../img/logo.svg' alt='', title='').logo
  //      .promo-wrap
  //        .promo
  //          span.span-promo-default Ввести промокод
  //          span.span-promo-action Действует промокод
  //
  //        //.promo-tooltip.tooltip-error
  //        //.promo-tooltip.tooltip-action
  //        //.promo-tooltip.tooltip-complete
  //        .header-tooltip.tooltip-default
  //          .promo-tooltip__title
  //            span.span-default Введите промокод и нажмите кнопку применить*
  //            span.span-error Промокод введён не верно
  //            span.span-complete Промокод введён верно
  //            span.span-action Действует промокод
  //          .input-wrap
  //            input(type='text' placeholder="Промокод").input
  //          +button-green('Применить')
  //
  //
  //
  //      .call-wrap.call-wrap__info
  //        .info Информация
  //        .header-tooltip
  //          ul.info-list
  //            li.info-item
  //              a(href="javascript:void(0);").info-item__link Программа лояльности 
  //            li.info-item
  //              a(href="javascript:void(0);").info-item__link Отзывы  
  //
  //            li.info-item
  //              a(href="javascript:void(0);").info-item__link Наши пиццерии
  //            li.info-item
  //              a(href="javascript:void(0);").info-item__link Доставка  
  //            li.info-item
  //              a(href="javascript:void(0);").info-item__link О нас  
  //            li.info-item
  //              a(href="javascript:void(0);").info-item__link Контакты
  //
  //
  //      .header-top__block
  //        .header-top__block-item
  //          img(src='../img/Star.svg' alt='', title='').estim-img
  //          .span 4.20
  //          .text Средняя оценка
  //        .header-top__block-item.header-top__block-item_time
  //          .header-top__block-item_inner
  //            img(src='../img/clock-icon.svg' alt='', title='').time-img
  //            .span 30 минут   
  //            .text Среднее время доставки
  //          .time-tooltip
  //            .time-tooltip-num 34 минуты
  //            .time-tooltip-title Среднее время доставки
  //            .time-tooltip-desc
  //              | Если не успеем за 60 минут, 
  //              | вы получите сертификат 
  //              | на большую пиццу
  //            .rating
  //              .rating-num 4.20
  //              .stars-block
  //                .stars-line
  //                .stars-line_full(style="width: 90%;")
  //            .ratio Средняя оценка покупателей 
  //
  //
  //
  //    .header-top__right
  //      a(href="tel:+7 (3532) 66-50-50").header-top__tel +7 (3532) 66-50-50
  //      .call-wrap
  //        +button-tr('Заказать звонок')
  //        .header-tooltip
  //          +input('Имя')
  //          .input-wrap
  //            //.input-check
  //            //.input-clear
  //            input(type='text' placeholder='+ 7 (...)').input.input-phone
  //          +button-green('Оставить заявку')
  //
  //.header-bottom__wrap
  //  .container
  //    .header-bottom
  //      a(href="javascript:void(0);")
  //        img(src='../img/logo.svg' alt='', title='').logo.logo-scroll
  //
  //      ul.header-menu
  //        li.header-menu__item.active
  //          a(href="javascript:void(0);").header-menu__link Пицца         
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Горячее        
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Комбо         
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Наборы        
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Салаты         
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Снеки      
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Десерты    
  //        li.header-menu__item
  //          a(href="javascript:void(0);").header-menu__link Напитки    
  //        li.header-menu__item.action
  //          a(href="javascript:void(0);").header-menu__link Акции
  //
  //      .header-order
  //        .call-wrap.call-wrap_cart
  //          a(href="javascript:void(0);").cart-wrap
  //            img(src='../img/cart-icon.svg' alt='', title='').cart-icon
  //            .cart-num 1
  //          .header-tooltip.cart-active
  //            .header-tooltip__inner
  //              .cart-tooltip
  //                .cart-tooltip-nano.nano
  //                  .cart-tooltip-content.nano-content
  //                    +cart-tooltip__item
  //                    +cart-tooltip__item
  //                    +cart-tooltip__item
  //                    +cart-tooltip__item
  //
  //
  //
  //
  //              //.tooltip-cart__title Ой, в корзине пусто
  //              //img(src='../img/cart-empty.png' alt='', title='').img-cart-empty
  //              //+button-green('Перейти к покупкам')
  //              .cart-slider
  //                .slider__wrap.slider__wrap_small
  //                  .slider-small-cart
  //                    +slider-small__item
  //                    +slider-small__item
  //                    +slider-small__item
  //                    +slider-small__item
  //                    +slider-small__item
  //                    +slider-small__item
  //                  .container-arrows
  //
  //
  //        .call-wrap.call-wrap_reg
  //          a(href="javascript:void(0);").button.button-reg.button-green Войти/Регистрация
  //          //.header-tooltip
  //          //  +input('Имя')
  //          //  +input('Дата рождения')
  //          //  .input-wrap
  //          //    //.input-check
  //          //    //.input-clear
  //          //    input(type='text' placeholder='+ 7 (...)').input.input-phone
  //          //  +button-green('Подтвердить номер')
  //          //  +input('Введите код из смс')
  //          //  +input-password('Придумайте пароль')
  //          //  +input-password('Ведите пароль ещё раз')
  //          //  +button-green('Регистрация')
  //          //  a(href="javascript:void(0);").enter Вход
  //          .header-tooltip
  //            .input-wrap
  //              //.input-check
  //              //.input-clear
  //              input(type='text' placeholder='+ 7 (...)').input.input-phone
  //            +input-password('Пароль')
  //            +button-green('Войти')
  //            .enter-wrap
  //              a(href="javascript:void(0);").fogot Забыли пароль?
  //              a(href="javascript:void(0);").enter Регистрация
  //            
  //            
  //          
          
              
            
          
            
     
      
        
      
    
    
