mixin service-select(data)
  a(href="javascript:void(0);").service-select
    .img-wrap
      img(src=`../img/${data.img}` alt='', title='' width=data.width height=data.height).service-select__pic
    .service-select__title=data.title

mixin button-tr(title)
  a(href="javascript:void(0);").button-tr=title
  
mixin portfolio-picture-item(img)
  .col-md-3
    .portfolio-picture-item
      .picture_link-wrap
        a(href="javascript:void(0);").picture_link
          .picture_link-text Подробнее
      .picture_img(style="background-image:url('../img/potfolio1.jpg')")
mixin button-tr-red(title)
  a(href="javascript:void(0);").button-tr-red=title
